body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #12274d;
    color: #c9af6f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

hr {
    margin: -15% 10% 0%;
    background: linear-gradient(to right, #b37c4f, #e8eda0);
    height: 2px;
}

.notice_block {
    margin: 25%;
    margin-top: 0px;
    text-align: center;
}

/* unvisited link */
a:link {
    color: #c9af6f;
    font-size: 18px;
  }
  
  /* visited link */
  a:visited {
    color: #c9af6f;
    font-size: 18px;
  }
  
  /* mouse over link */
  a:hover {
    color: #c9af6f;
    font-size: 18px;
  }
  
  /* selected link */
  a:active {
    color: #c9af6f;
    font-size: 18px;
  }


/* CSS for phone and ipad size */
@media (max-width:1000px){
    .bg-image {
        width: 70%;
        margin-left: 16%;
        margin-top: 25%;
        margin-bottom: -30%;
    }
}

/* CSS for Laptop size */
@media (min-width:1001px) {
    .bg-image {
        width: 70%;
        margin-left: 16%;
        margin-top: 0%;
    } 
}


